<div class="d-flex justify-content-center">
  <% post.moods.each do |mood| %>
    <div class="d-inline-block mood-item" style="color: <%= mood.color %>;">
      <h5 class="d-block mood-name">
        <%= mood.name %>
      </h5>
    </div>
  <% end %>
</div>
<div class="mood-container m-md-3" style="background: <%= post.background_color %>;">
  <div class="post-body">
    <p><%= l post.created_at, format: :long %>の<%= post.user.name %>さんの１行日記</p>
    <p><%= post.body %></p>
  </div>
</div>

<!--投稿一覧画面、投稿詳細画面、いいね一覧で引用-->