<div class="container">
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <div class="row flex-nowrap">
      <div class="col-sm-4 col-md-2 m-3">
        <%= link_to user_path(@post.user) do %>
        <%= image_tag @post.user.get_profile_image(100,100), class: "rounded-circle" %>
      </div>
      <div class="col-sm-8 col-md-10 py-4">
        <p><%= l @post.created_at, format: :short %></p>
        <p><%= @post.user.name %></p>
        <% end %>
      </div>
    </div>
    <div class="mx-auto pb-1">
      <% if @post.is_public %>
        <p>この投稿は公開されています</p>
      <% else %>
        <p>この投稿は非公開です</p>
      <% end %>
    </div>
    <% if @post.post_image.attached? %>
      <div class="mx-auto">
        <%= image_tag @post.get_post_image, class: "background-image"  %>
      </div>
    <% end %>
    <div class="row justify-content-center pb-2">
      <div class="col-sm-12 col-md-10">
        <% if @post.user == current_user %>
          <p class="pt-2"><strong>次の日の自分へ　<%= @post.message %></strong></p>
        <% end %>
        <%= render "public/posts/diary", post: @post %>
        <div class="d-flex justify-content-between pb-2">
          <div class="d-flex justify-content-start pl-3">
            <span>
              <div id="favorite_btn_<%= @post.id %>">
                <%= render "public/favorites/btn", post: @post %>
              </div>
            </span>
          </div>
          <div class="d-flex justify-content-end">
            <% if @post.user == current_user %>
              <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary mr-1" %>
              <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-danger" %>
            <% end %>
          </div>
        </div>
        <div id="post-comments">
          <%= render "public/comments/index", post: @post %>
        </div>
        <div class="form-group">
        <%= render "public/comments/form", post: @post, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>