<h1>投稿詳細画面</h1>
<p>Find me in app/views/public/post/show.html.erb</p>

<div class="container">
  <div class="row  justify-content-center pb-3">
    <%= image_tag @post.user.get_profile_image(150,150), class: "rounded-circle" %>
    <%= @post.user.name %>
  </div>
  <div class="post-item-image">
    <% if @post.post_image.attached? %>
      <div class="background-image-container">
        <%= image_tag @post.get_post_image(700, 400), class: "background-image"  %>
        <div class="overlay-content">
          <h5><%= l @post.created_at, format: :long %>の<%= @post.user.name %>さんの１行日記</h5>
          <p><%= @post.body %></p>
        </div>
    <% else %>
      <%= render "diary", moods: @post.moods, post: @post %>
    <% end %>
  </div>
  </div>
</div>