<h1>投稿詳細画面</h1>
<p>Find me in app/views/public/post/show.html.erb</p>

<div class="container">
  <div class="row  justify-content-center pb-3">
    <%= link_to user_path(@post.user) do %>
      <%= render "public/users/name", user: @post.user %>
    <% end %>
  </div>
  <div class="post-itemimage">
    <% if @post.post_image.attached? %>
      <div class="mood-text">
        <% if @post.moods.any? %>
        <h5><%= l @post.created_at, format: :short %>の気分</h5>
          <%= render "mood", moods: @post.moods %>
        <% end %>
      </div>
      <div class="background-image-container">
        <%= image_tag @post.get_post_image(700, 400), class: "background-image"  %>
        <div class="overlay-content">
          <h5><%= l @post.created_at, format: :long %>の<%= @post.user.name %>さんの１行日記</h5>
          <p><%= @post.body %></p>
        </div>
      </div>
      
      <div class="to_myself_message">
          <% if @post.user == current_user %>
            <h5>明日の自分へメッセージ</h5>
            <%= @post.message %>
          <% end %>
      </div>
      
    <% else %>
      <%= render "diary", moods: @post.moods, post: @post %>
    <% end %>
  </div>
  <div class="row">
    <% if @post.user == current_user && @post.today_post? %>
      <div class="edit_btn"><%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary" %></div>
      <div class="delete_btn"><%= link_to "削除", post_path(@post), class: "btn btn-outline-danger", method: :delete %></div>
    <% elsif @post.user == current_user %>
      <p>過去の投稿は編集できません</p>
      <%= link_to "削除", post_path(@post), class: "btn btn-outline-danger", method: :delete %>
    <% else %>
    <% end %>
  </div>
</div>