<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8"> <!-- 画面サイズに応じて幅を調整 -->
      <%= form_with model: [reciever, Message.new], local: true do |f| %>
        <%= f.label :body, '小さなエールを送る', class: "form-label" %>
        <div class="form-group d-flex align-items-center">
          <%= f.collection_select(:message_text_id, MessageText.all, :id, :content, {}, { class: "form-control" }) %>
          <%= f.hidden_field :sender_id, value: current_user.id %>
          <%= f.hidden_field :receiver_id, value: reciever.id %>
          <%= f.submit "送信", class: "btn btn-outline-secondary ml-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>