<!--フォロー数とフォロワー数とその一覧リンクの表示＋フォローする,外すボタンの表示,もしくは非表示-->

<tr>
  <th>フォロー</th>
  <th>
    <%= link_to user_followings_path(user) do %>
    <h6><%= user.followings.count %></h6>
    <% end %>
  </th>
  <th>フォロワー</th>
    <th>  
      <%= link_to user_followers_path(user) do %>
        <h6><%= user.followers.count %></h6>
      <% end %>
    </th>
</tr>
<td>
  <% if current_user != user %>
    <%= render "public/relationships/btn", user: user %>
  <% end %>
</td>
