<div class="container">
  <div class="card mx-auto mt-4 shadow-lg" style="max-width: 900px;">
    <%= render "info", user: @user %>
      <div class='row justify-content-center py-2'>
        <% @user.received_messages.each do |message| %>
          <p class="border p-2">
            <%= message.message_text.content  %>
            <%= link_to user_path(message.sender) do %>
              <%= message.sender.name %>さんより
            <% end %>
          </p>
        <% end %>
      </div>
    <div class='row justify-content-center py-2'>
      <% unless @user == current_user %>
        <%= render "public/messages/form", reciever: @user %>
      <% end %>
    </div>
    <%= render "public/posts/index", posts: @posts %>
    <div class="mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>