<div class='container'>
  <div class='row'>
   <%= render "name", user: @user %>
    <p><%= @user.introduction %></p>
    <%= link_to "いいねした一覧", favorites_user_path(@user) %>
  </div>
  <div class='row'>
    <%= render "info", user: @user %>
  </div>
  <% @user.received_messages.each do |message| %>
    <%= message.message_text.content  %>
  <% end %>

  <%= render "public/messages/form", reciever: @user %>

</div>

