<ul class="nav-list">
  <% if user_signed_in? %>
    <% if current_user.guest_user? %>
      <!-- ゲストユーザー用のリンク -->
        <li class="nav-list-item">
          <%= link_to posts_path do %>
            <i class="fa-solid fa-house"></i>　みんなの１行
          <% end %>
        </li>
        <li class="nav-list-item ">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i>　ログアウト
          <% end %>
        </li>
        <li class="nav-list-item">
          <%= link_to  homes_about_path do %>
            <i class="fa-regular fa-address-card"></i>　About
          <% end %>
        </li>
    <% else %>
      <!-- ログインユーザー用のリンク -->
        <li class="nav-list-item">
          <%= link_to posts_path do %>
            <i class="fa-solid fa-house"></i>
            <span class="d-none d-lg-inline">　みんなの１行</span>
          <% end %>
        </li>
        <li class="nav-list-item">
          <%= link_to mypage_users_path do %>
            <i class="fa-solid fa-user"></i>
            <span class="d-none d-lg-inline">　マイページ</span>
          <% end %>
        </li>
        <li class="nav-list-item">
          <%= link_to new_post_path do %>
            <i class="fa-regular fa-square-plus"></i>
            <span class="d-none d-lg-inline">　日記を書く</span>
          <% end %>
        </li>
        <li class="nav-list-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="d-none d-lg-inline">　ログアウト</span>
          <% end %>
        </li>
        <li class="nav-list-item">
          <%= link_to edit_user_path(current_user) do %>
            <i class="fa-solid fa-gear"></i>
            <span class="d-none d-lg-inline">　プロフィール編集</span>
          <% end %>
        </li>
    <% end %>
  <% else %>
    <% if admin_signed_in? %>
      <li class="nav-list-item">
        <%= link_to admin_users_path do %>
          <i class="fa-solid fa-user-group"></i>
          <span class="d-none d-lg-inline">　ユーザー一覧</span>
        <% end %>
      </li>
      <li class="nav-list-item">
        <%= link_to new_admin_mood_path do %>
          <i class="fa-regular fa-heart"></i>
          <span class="d-none d-lg-inline">　気分変更</span>
        <% end %>
      </li>
      <li class="nav-list-item">
        <%= link_to new_admin_message_text_path do %>
          <i class="fa-solid fa-pen-to-square"></i>
          <span class="d-none d-lg-inline">　メッセージ追加</span>
        <% end %>
      </li>
      <li class="nav-list-item">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="d-none d-lg-inline">　ログアウト</span>
        <% end %>
      </li>
    <% else %>
    <!-- ログアウト状態のリンク -->
      <li class="nav-list-item"><%= link_to "新規登録", new_user_registration_path %></li>
      <li class="nav-list-item"><%= link_to "ログイン", new_user_session_path %></li>
      <li class="nav-list-item"><%= link_to "About", homes_about_path %></li>
    <% end %>
  <% end %>
</ul>

