<!DOCTYPE html>
<html>
  <head>
    <title>IchigyoDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/76f4db3613.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
          <h1 class="d-none d-lg-inline logo">
            <%= link_to "1Gyo diary", root_path %>
          </h1>
          <%= render "layouts/sideber" %>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <% flash.each do |message_type, message| %>
            <div class="flash-message <%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
