<!DOCTYPE html>
<html>
  <head>
    <title>IchigyoDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/76f4db3613.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= stylesheet_link_tag 'application' %>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="logo"><%= link_to "1Gyo diary", posts_path %></div>
          <% if user_signed_in? %>
            <% if current_user.guest_user? %>
              <!-- ゲストユーザー用のリンク -->
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li class="nav-item"><%= link_to "みんなの１行", posts_path %></li>
              </ul>
            <% else %>
              <!-- ログインユーザー用のリンク -->
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li class="nav-item"><%= link_to "みんなの１行", posts_path %></li>
                <li class="nav-item"><%= link_to "マイページ", mypage_user_path(current_user) %></li>
                <li class="nav-item"><%= link_to "日記を書く", new_post_path %></li>
                <li class="nav-item">
                  <%= link_to edit_user_path(current_user) do %>
                    <i class="fa-solid fa-gear"></i> プロフィール編集
                  <% end %>
                </li>
              </ul>
            <% end %>
          <% else %>
            <!-- ログアウト状態のリンク -->
            <ul class="nav nav-pills justify-content-end">
              <li class="nav-item"><%= link_to "新規登録", new_user_registration_path %></li>
              <li class="nav-item"><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
          <% end %>
    </div> <!-- container divを閉じる -->
</nav>
    </header>
    <main>
       <main class="mt-5">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
    </main>
    </main>
    <div class="main-decoration">
    <%= yield %>
    </div>
  </body>
</html>
